*{

    font-size: 20px;
    margin:0;
}

.start{

   height:100px;
}


.search-bar{
    margin:80px 120px;
    height:80px;
}

.genre{
    margin-top:20px;
}


.movie-details{
   margin:50px 120px;
   display:grid;
   grid-template-columns:600px 600px;
   grid-template-rows:300px 300px 300px 300px 300px;
   justify-content: center;

   
}
